name: "[PR & PUSH] Tag & Release"

on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

jobs:
  tag_and_release:
    name: "Tag and release"
    runs-on: ubuntu-latest
    env:
      prerelease: ${{ github.ref != 'refs/heads/main' }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: "Generate semver tag"
        id: semver
        uses: ministryofjustice/opg-github-actions/actions/semver@4f345be3f706950d1fdc05bc86383967a149bd99 # v4.3.4
        with:
          prerelease: ${{ env.prerelease }}
          create_release: "false"
      - name: "Checkout to created semver tag"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ steps.semver.outputs.tag }}
      - name: Create release and artifacts
        id: release
        uses: goreleaser/goreleaser-action@9c156ee8a17a598857849441385a2041ef570552 # v6.3.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  end:
    name: 'End of workflow'
    runs-on: 'ubuntu-latest'
    needs: [tag_and_release]
    steps:
      - id: end
        name: End
        run: |
          echo "End"
